body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.landing-card {
    display: flex;
    flex-direction: column;
    margin: 10% 40%;
}
.landing-title {
    font-size: 36;
    color: orangered
}